.container {
  border: 2px solid black;
  width: 700px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  border: 2px solid yellow;
  height: 200px;
  width: 200px;
}
