* {
  box-sizing: border-box;
}
body,
p {
  margin: 0;
}
.sec1 {
  height: 600px;
  background-color: blueviolet;
  background-image: url(./art.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -2;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.content {
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  /*align items won't work unless you give them the height*/
  align-items: center;
  height: 100%;
}
.sec2 {
  padding-left: 20px;
}
