body {
  margin: 0;
}

.container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
}

.content {
  width: 80%;
  padding-left: 23%;
  padding-right: 2%;
  padding-top: 20px;
}
